<div class="divider"></div>
<div class="section">
  <a class="anchor" name="consortium"></a>
  <!-- <h3>Consortium</h3> -->

  <div class="parallax-container valign-wrapper">
    <div class="section ">
      <div class="container">
        <div class="row center">
          <h1 class="left">Consortium</h1>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="/images/banner2.png" alt="Unsplashed background img 3"></div>
  </div>


  <div class="row">

    <div class="col s6">

      <h4>Scientific partners</h4>

      <!-- Modal Trigger -->
      <a class="waves-effect waves-light modal-trigger" href="#modal1" style="color: black">
        <div class="card-panel hoverable">

          <div class="card-content">

            <img class="responsive-img" src="/images/DTU_logo_text.png" alt="">
          </div>
        </div>
      </a>
      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Technical University of Denmark</h4>
          <p>The sequencing, informatics, and modeling (SIM) group led by Drs. Markus Herrgard and Nikolaus Sonnenschein at the Novo Nordisk Foundation Center for Biosustainability at DTU focuses on developing and applying tools for microbial cell factory
            design. SIM group members have developed widely- used modeling platforms such as the COBRA (opencobra.github.io/) and MASS (opencobra.github.io/MASS-Toolbox/) toolboxes. Additionally, Dr. Herrgard has extensive experience in developing web-based
            software for genomic and metagenomic data mining and synthetic biology design from a leading synthetic biology company (Synthetic Genomics, Inc.).</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>

      <!-- Modal Trigger -->
      <a class="waves-effect waves-light modal-trigger" href="#modal2" style="color: black">
        <div class="card-panel hoverable">

          <div class="card-content">
            <img class="responsive-img" src="/images/EMBL_logo.png" alt="" style="max-width: 70%">
          </div>
        </div>
      </a>
      <!-- Modal Structure -->
      <div id="modal2" class="modal">
        <div class="modal-content">
          <h4>European Molecular Biology Laboratory</h4>
          <p>PIs, P. Bork and K. Patil, have complementary research expertise and have together considerable experience in bioinformatics, specifically in function prediction, metagenomics and modeling. They have successfully delivered in >10 European consortia
            in FP6 and FP7 including consortia focusing on analysis of metagenomics data relevant for human health and industrial applications. They have also developed several widely-used bioinformatics tools such as String (string.embl.de/) and iPath
            (pathways.embl.de/).
          </p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>

      <!-- Modal Trigger -->
      <a class="waves-effect waves-light modal-trigger" href="#modal3" style="color: black">
        <div class="card-panel hoverable">

          <div class="card-content">
            <img class="responsive-img" src="/images/Chalmers.png" alt="">
          </div>
        </div>
      </a>
      <!-- Modal Structure -->
      <div id="modal3" class="modal">
        <div class="modal-content">
          <h4>Chalmers University of Technology</h4>
          <p>The J. Nielsen’s group at Chalmers is one of the world leaders on genome-scale modeling of microorganisms, and statistical and model-based analysis of omics data for cell factory and human health applications. The group has reconstructed >20
            models and has developed software tools for performing semi-automatic reconstruction. The group has developed several tools for simulation and integrative analysis of omics data in the context of genome-scale models (GEMs) as well as general
            omics analysis tools (biomet-toolbox.org).</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>

      <!-- Modal Trigger -->
      <a class="waves-effect waves-light modal-trigger" href="#modal4" style="color: black">
        <div class="card-panel hoverable">

          <div class="card-content">
            <img class="responsive-img" src="/images/EPFL.png" alt="" style="max-width: 70%">
          </div>
        </div>
      </a>
      <!-- Modal Structure -->
      <div id="modal4" class="modal">
        <div class="modal-content">
          <h4>École polytechnique fédérale de Lausanne</h4>
          <p>The Hatzimanikatis group has 20 years of experience in academic and industrial research for the design of metabolic pathways and whole-cell industrial biocatalysts. Dr. Ljubisa Miskovic is a senior research scientist with extensive experience
            with modeling and analysis of metabolic pathways. The group has developed large-scale nonlinear models for S. cerevisiae, human cells, E. coli and P. putida, which account for the thermodynamic and kinetic properties of metabolic pathways
            and can be used for the identification of rate-limiting steps in the absence of complete kinetic information on the pathway enzymes.</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>

      <!-- Modal Trigger -->
      <a class="waves-effect waves-light modal-trigger" href="#modal5" style="color: black">
        <div class="card-panel hoverable">

          <div class="card-content">
            <img class="responsive-img" src="/images/Minho.png" alt="" style="max-width: 70%">
          </div>
        </div>
      </a>
      <!-- Modal Structure -->
      <div id="modal5" class="modal">
        <div class="modal-content">
          <h4>University of Minho</h4>
          <p>The Biosystems – Systems Biology and Metabolic Engineering research group, led by Prof. Isabel Rocha has currently over 20 members working in the field of Systems Biology and Metabolic Engineering, with emphasis on the development of algorithms
            for strain design. Moreover, the team has expertise and experience in developing open-source user-friendly software tools such as Merlin (<a href="www.merlin-sysbio.org">www.merlin-sysbio.org</a>) and OptFlux (<a href="www.optflux.org">www.optflux.org</a>).</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>

    </div>

    <div class="col s6">

      <h4>Industrial partners</h4>

      <!-- Modal Trigger -->
      <a class="waves-effect waves-light modal-trigger" href="#modal6" style="color: black">
        <div class="card-panel hoverable">

          <div class="card-content">
            <img class="responsive-img" src="/images/silicolife.png" alt="">
          </div>
        </div>
      </a>
      <!-- Modal Structure -->
      <div id="modal6" class="modal">
        <div class="modal-content">
          <h4>SilicoLife Lda</h4>
          <p>SilicoLife Lda is a company devoted to creating computational biology solutions for the fast growing industrial biotechnology sector. SilicoLife combines bioinformatics, systems biology and synthetic biology to design optimized microbial strains
            for the production of specific chemicals, bio- polymers, food ingredients and bio-fuels.</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>

      <!-- Modal Trigger -->
      <a class="waves-effect waves-light modal-trigger" href="#modal7" style="color: black">
        <div class="card-panel hoverable">

          <div class="card-content">
            <img class="responsive-img" src="/images/Genialis.png" alt="">
          </div>
        </div>
      </a>
      <!-- Modal Structure -->
      <div id="modal7" class="modal">
        <div class="modal-content">
          <h4>Genialis d.o.o.</h4>
          <p>Genialis d.o.o. provides bioinformatics software and data analysis services to life science labs. They focus on biological data management, analysis and interactive visualization to facilitate exploratory analysis of complex biological data.
            Their software platform will be used to develop new analytical and visualization modules.</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>

      <!-- Modal Trigger -->
      <a class="waves-effect waves-light modal-trigger" href="#modal8" style="color: black">
        <div class="card-panel hoverable">

          <div class="card-content">
            <img class="responsive-img" src="/images/Biobyte.png" alt="">
          </div>
        </div>
      </a>
      <!-- Modal Structure -->
      <div id="modal8" class="modal">
        <div class="modal-content">
          <h4>biobyte solutions GmbH</h4>
          <p>biobyte solutions GmbH is a provider of customized bioinformatics tools. The company also provides various bioinformatics services, from data analysis Ivica Letunic and integration, to database development and maintenance. biobyte solutions
            will be involved in the development of data mining pipelines and data management systems.</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>

      <!-- Modal Trigger -->
      <a class="waves-effect waves-light modal-trigger" href="#modal9" style="color: black">
        <div class="card-panel hoverable">

          <div class="card-content">
            <img class="responsive-img" src="/images/Biosyntia.png" alt="">
          </div>
        </div>
      </a>
      <!-- Modal Structure -->
      <div id="modal9" class="modal">
        <div class="modal-content">
          <h4>Biosyntia ApS</h4>
          <p>Biosyntia ApS, a synthetic biology, metabolic engineering, and biocatalysis company applies evolutionary metabolic engineering to the development of microbial vitamin cell factories. Biosyntia’s core competencies are within cloning and high-throughput
            screening of synthetic and natural gene libraries.</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>

      <!-- Modal Trigger -->
      <a class="waves-effect waves-light modal-trigger" href="#modal10" style="color: black">
        <div class="card-panel hoverable">

          <div class="card-content">
            <img class="responsive-img" src="/images/DSM.png" alt="">
          </div>
        </div>
      </a>
      <!-- Modal Structure -->
      <div id="modal10" class="modal">
        <div class="modal-content">
          <h4>DSM</h4>
          <p>DSM is a global science-based company with application areas ranging from food, feed and pharma to bio-based chemicals and bio-based fuels. DSM employs rational approaches towards metabolic and protein engineering using bioinformatics, systems
            biology and synthetic biology tools. Dr. Hans Roubos and Dr. Liang Wu – both senior bioinformaticians at the DSM Biotechnology R&D Center – have over 10 years of experience in developing industrial processes using bacteria, yeast and filamentous
            fungi within DSM and are closely connected to the internal high-throughput wet lab activities.</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
      </div>

    </div>
  </div>

</div>
