<footer class="page-footer">
  <div class="container">
    <a class="anchor" name="contact"></a>
    <div class="row">
      <div class="col l5 s12">
        <h5 class="white-text">Coordinator</h5>
        <div class="white-text">
          <ul>
            <li>Technical University of Denmark</li>
            <li>Novo Nordisk Foundation Center for Biosustainability</li>
            <li>Kogle Allé 6</li>
            <li>2970 Hoersholm</li>
            <li>Denmark</li>
          </ul>
        </div>

      </div>
      <div class="col l4 s12">
        <h5 class="white-text">Contact</h5>
        <div class="white-text">
          <ul>
            <li>Prof. Markus Herrgård</li>
            <li>
              <a class="white-text" href="mailto:herrgard@biosustain.dtu.dk">Email: herrgard@biosustain.dtu.dk</a>
            </li>
            <li>Phone: +45 24 92 17 80</li>
          </ul>
        </div>
      </div>

      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li>
            <a href="https://twitter.com/DDDeCaF" class="twitter-follow-button" data-show-count="false">Follow @DDDeCaF</a>
            <script>
              ! function(d, s, id) {
                var js,
                  fjs = d.getElementsByTagName(s)[0],
                  p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                  js = d.createElement(s);
                  js.id = id;
                  js.src = p + '://platform.twitter.com/widgets.js';
                  fjs.parentNode.insertBefore(js, fjs);
                }
              }(document, 'script', 'twitter-wjs');
            </script>
          </li>
          <li>
            <!-- Place this tag where you want the button to render. -->
            <a class="github-button" href="https://github.com/dd-decaf" aria-label="Follow @dd-decaf on GitHub">Follow @dd-decaf</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="footer-copyright">
    <div class="container">
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png"/></a><br/>This work is licensed under a
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
    </div>
  </div> -->
</footer>

<!--  Scripts-->

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>
  $(document).ready(function() {
    $('.modal-trigger').leanModal();
    $(".dropdown-button").dropdown();
  });
</script>
<script src="/js/materialize.js"></script>
<script src="/js/init.js"></script>

<!-- Place this tag right after the last button or just before your close body tag. -->
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
