<div class="divider"></div>
<div class="section">
    <a class="anchor" name="publications"></a>
    <h2>Software Tools</h2>

    <div class="row">
        <div class="col s12 m6 l6">

            <div class="card">
                <div class="card-image">
                    <img class="tool-img" src="images/cameo_logo.svg" style="padding: 10px; max-width: 80%">
                    <!-- <span class="card-title">Card Title</span> -->
                </div>
                <div class="card-content">
                    <p>
                      Cameo is a high-level python library developed to aid the strain design process in metabolic engineering projects.
                    </p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>

            <div class="card">
                <div class="card-image">
                    <img class="tool-img" src="images/optflux_header2.png" style="padding: 10px; max-width: 80%">
                    <!-- <span class="card-title">Card Title</span> -->
                </div>
                <div class="card-content">
                    <p>OptFlux is an open-source and modular software to support in silico metabolic engineering tasks aimed at being the reference computational application in the field.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>

        </div>

        <div class="col s12 m6 l6">

            <div class="card">
                <div class="card-image valign-wrapper">
                    <img class="tool-img" src="images/MASS-Toolbox-Logo.svg" style="max-width: 50%">
                </div>
                <div class="card-content">
                    <!-- <span class="card-title">Card Title</span> -->
                    <p>The Mass-Action Stoichiometric Simulation (MASS) toolbox is a modeling software package that focuses on the construction and analysis of kinetic and constraint-based models of biochemical reactions systems.</p>
                </div>
                <div class="card-action">
                    <a href="http://opencobra.github.io/MASS-Toolbox">Read more</a>
                </div>
            </div>

        </div>


    </div>


</div>
